installCRDs: true

replicaCount: 1

prometheus:
  enabled: false
  servicemonitor:
    enabled: false

extraArgs:
  - --enable-certificate-owner-ref=true

resources:
  requests:
    cpu: 100m
    memory: 128Mi

securityContext:
  fsGroup: 1001