apiVersion: v1
kind: ConfigMap
metadata:
  name: cortex-config
  namespace: soc
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: cortex
    app.kubernetes.io/name: cortex
    app.kubernetes.io/part-of: cortex
    app.kubernetes.io/version: 3.1.1
    helm.sh/chart: cortex-1.0.0
  annotations:
    meta.helm.sh/release-name: cortex
    meta.helm.sh/release-namespace: soc
data:
  application.conf: |
    play {
      http {
        port = 9001
        # Inject the secret from environment variable
        secret = ${?CORTEX_HTTP_SECRET}
      }
      http.parser.maxDiskBuffer = 100MB
      http.parser.maxMemoryBuffer = 100MB
    }

    cortex {
      analyzers {
        path = /opt/cortex/analyzers
        urls = [
          "https://catalogs.download.strangebee.com/latest/json/analyzers.json"
        ]
        fork-join-executor {
          parallelism-min = 4
          parallelism-factor = 1.0
          parallelism-max = 8
        }
      }

      responders {
        path = /opt/cortex/responders
        urls = [
          "https://catalogs.download.strangebee.com/latest/json/responders.json"
        ]
        fork-join-executor {
          parallelism-min = 4
          parallelism-factor = 1.0
          parallelism-max = 8
        }
      }

      elasticsearch {
        hosts = ["http://elasticsearch.soc.svc.cluster.local:9200"]
        user = ${?CORTEX_ELASTICSEARCH_USERNAME}
        password = ${?CORTEX_ELASTICSEARCH_PASSWORD}
      }
    }

    # Ensure Cortex loads the mounted config file
    include file("/etc/cortex/conf/application.conf")