controller:
  kind: DaemonSet
  daemonset:
    useHostPort: false


  ingressClassResource:
    name: nginx
    enabled: true
    controllerValue: "k8s.io/ingress-nginx"
    default: true

  ingressClass: nginx

  service:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: k3s-lb-pool
      metallb.universe.tf/allow-shared-ip: "nginx-ingress"
    externalTrafficPolicy: Local
    loadBalancerIP: 192.168.200.31
    nodePorts:
      http: null
      https: null

  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    real-ip-header: "X-Forwarded-For"
    set-real-ip-from: "0.0.0.0/0"

    limit-req-zone: |
      limit_req_zone $binary_remote_addr zone=global_rps:10m rate=10r/s;
    limit-req: |
      limit_req zone=global_rps burst=20 nodelay;

    proxy-connect-timeout: "10"
    proxy-read-timeout: "120"
    proxy-send-timeout: "120"

    enable-ssl-passthrough: "true"
    log-format-escape-json: "true"

  extraArgs:
    enable-ssl-passthrough: "true"

  metrics:
    enabled: false
    serviceMonitor:
      enabled: false

  admissionWebhooks:
    enabled: true
    patch:
      enabled: true

  resources:
    requests:
      cpu: 100m
      memory: 128Mi

defaultBackend:
  enabled: true