################################
# TheHive Helm Chart variables #
################################

nameOverride: ""
fullnameOverride: ""

# imagePullSecrets:
#   - name: thehive-secrets

thehive:
  replicas: 1

  resources:
    requests:
      cpu: "1000m"
      memory: "2048Mi"
      ephemeral-storage: "4Gi"
    limits:
      cpu: "3000m"
      memory: "3584Mi"
      ephemeral-storage: "4Gi"

  jvmOpts: "-Xms2g -Xmx2g -Xmn300m"

  image:
    registry: docker.io
    repository: strangebee/thehive
    tag: "5.5.13-1"
    pullPolicy: IfNotPresent


  # --- Storage (Cloudflare R2 S3) ---
  storage:
    # k8sSecretName: "thehive-secrets"
    # k8sSecretKey: "S3_SECRET_KEY"
    accesskey: ""
    secretKey: ""
    endpoint: "https://bf6d65d7b59cef1c2543a0b2a855b207.r2.cloudflarestorage.com"
    bucket: "thehive"
    region: "auto"
    usePathAccessStyle: true

  # --- HTTP secret ---
  httpSecret: ""
  # k8sSecretName: "thehive-secrets"
  # k8sSecretKey: "THEHIVE_HTTP_SECRET"
# --- Cassandra ---
  database:
    hostnames:
      - cassandra.soc.svc.cluster.local
  #   password: ""
    # username: cassandra
    # k8sSecretName: thehive-cassandra
    # k8sSecretKey: cassandra-password
    

   # --- Elasticsearch ---
  index:
    hostnames:
      - elasticsearch.soc.svc.cluster.local
    # username: "elastic"
    # # k8sSecretName: "thehive-secrets"
    # # k8sSecretKey: "ELASTICSEARCH_PASSWORD"
    # password: ""
    
  # --- Cortex integration ---
  cortex:
    enabled: true
    protocol: "http"
    hostnames:
      - "192.168.1.89"
    port: 9002
    api_keys: 
      - ""
    # k8sSecretName: "thehive-secrets"
    # k8sSecretKey: "CORTEX_API_KEY"

  # --- MISP integration ---
  misp:
    enabled: true
    protocol: "http"
    hostnames:
      - "192.168.200.37"
    port: 80
    api_keys:
      - ""
    # k8sSecretName: "thehive-secrets"
    # k8sSecretKey: "MISP_API_KEY"

  # --- Custom application.conf ---
  # configFile: |
  #   play.modules.enabled += org.thp.thehive.connector.misp.MispModule

  #   mailer {
  #     type = smtp
  #     host = "192.168.200.38"
  #     port = 25
  #     from = "pnleone17@gmail.com"
  #   }

  #   misp {
  #     url = "http://192.168.200.37"
  #     key = ${?MISP_API_KEY}
  #   }

  #   cortex {
  #     servers = [
  #       {
  #         name = "cortex0"
  #         url = "http://192.168.1.89:9002"
  #         key = ${?CORTEX_API_KEY}
  #       }
  #     ]
  #   }

  #   storage {
  #     provider = s3
  #     endpoint = "https://bf6d65d7b59cef1c2543a0b2a855b207.r2.cloudflarestorage.com"
  #     bucket = "thehive"
  #     region = "auto"
  #     accessKey = ${?S3_ACCESS_KEY}
  #     secretKey = ${?S3_SECRET_KEY}
  #   }


  # --- Service (LoadBalancer) ---
  service:
    type: LoadBalancer
    loadBalancerIP: 192.168.200.33
    ports:
      - name: http
        port: 9000
        targetPort: 9000
      - name: kamon
        port: 9095
        targetPort: 9095

  monitoring:
    enabled: true
    port: 9095

  # --- PVCs ---
  volumes:
    - name: thehive-data
      persistentVolumeClaim:
        claimName: thehive-data-pvc
    - name: thehive-index
      persistentVolumeClaim:
        claimName: thehive-index-pvc

  volumeMounts:
    - name: thehive-data
      mountPath: /opt/thehive/data
    - name: thehive-index
      mountPath: /opt/thehive/index

cassandra:
  enabled: false


elasticsearch:
  enabled: false
  # security:
  #   elasticPassword: ""

  # extraEnvVars:
  #   - name: "ES_JAVA_OPTS"
  #     value: "-Des.cluster.routing.allocation.disk.watermark.low=70% -Des.cluster.routing.allocation.disk.watermark.high=80% -Des.cluster.routing.allocation.disk.watermark.flood_stage=95% -Des.cluster.routing.allocation.disk.watermark.max_headroom=20gb"
minio:
  enabled: false
