apiVersion: v1
kind: ConfigMap
metadata:
  name: thehive-config
  namespace: soc
data:
  application.conf: |
    cortex {
      servers = [
        {
          name = "cortex"
          url = "http://cortex.soc.svc.cluster.local:9001"
          auth {
            type = "bearer"
            key = ${CORTEX_API_KEY}
          }
        }
      ]
    }
