cassandra:
  enabled: false

elasticsearch:
  enabled: false

minio:
  enabled: true

thehive:
  database:
    hostnames:
      - cassandra.soc.svc.cluster.local
  index:
    hostnames:
      - elasticsearch.soc.svc.cluster.local

replicaCount:
  thehive: 1
  cassandra: 1
  elasticsearch: 1
  cortex: 1
  shuffle: 1

env:
  - name: CORTEX_API_KEY
    valueFrom:
      secretKeyRef:
        name: cortex-api-secret
        key: CORTEX_API_KEY
  - name: S3_ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: r2-secret
        key: S3_ACCESS_KEY
  - name: S3_SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: r2-secret
        key: S3_SECRET_KEY

config:
  application.conf: |
    storage {
      provider = s3
      s3 {
        endpoint = "https://<account_id>.r2.cloudflarestorage.com"
        accessKey = ${S3_ACCESS_KEY}
        secretKey = ${S3_SECRET_KEY}
        bucket = "thehive-attachments"
        region = "auto"
      }
    }
    cortex {
      servers = [
        {
          name = "cortex"
          url = "http://cortex.soc.svc.cluster.local:9001"
          auth {
            type = "bearer"
            key = ${CORTEX_API_KEY}
          }
        }
      ]
    }

persistence:
  enabled: true
  storageClass: local-path
  accessModes: [ "ReadWriteOnce" ]
  size: 10Gi