apiVersion: v1
kind: ConfigMap
metadata:
  name: thehive-config
  namespace: soc
data:
  application.conf: |
    storage {
      provider = s3
      s3 {
        endpoint = "https://bf6d65d7b59cef1c2543a0b2a855b207.r2.cloudflarestorage.com"
        accessKey = ${S3_ACCESS_KEY}
        secretKey = ${S3_SECRET_KEY}
        bucket = "thehive"
        region = "auto"
      }
    }
    cortex {
      servers = [
        {
          name = "cortex"
          url = "http://cortex.soc.svc.cluster.local:9001"
          auth {
            type = "bearer"
            key = ${CORTEX_API_KEY}
          }
        }
      ]
    }
