http:
  routers:
    dashboard-router:
      rule: "Host(`trfk.home.com`)"
      service: api@internal
      entryPoints: [websecure]
      tls:
        certResolver: stepca
      middlewares:
        - authentik
        - secure-headers
    
    vault-router:
      rule: "Host(`vault.home.com`)"
      service: vault-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    portainer-router:
      rule: "Host(`portainer.home.com`)"
      service: portainer-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    plex-router:
      rule: "Host(`plex.home.com`)"
      service: plex-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca
      middlewares:
        - authentik

    # jellyfin-router:
    #   rule: "Host(`jellyfin.home.com`)"
    #   service: jellyfin-service
    #   entryPoints: [websecure]
    #   tls:
    #     certResolver: stepca

    pihole-router:
      rule: "Host(`pihole.home.com`)"
      service: pihole-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca
      middlewares:
        - pihole-rewrite
        - authentik

    piholebk-router:
      rule: "Host(`piholebk.home.com`)"
      service: piholebk-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca
      middlewares:
        - pihole-rewrite
        - authentik
    
    uptimek-router:
      rule: "Host(`uptimek.home.com`)"
      service: uptimek-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    pulse-router:
      rule: "Host(`pulse.home.com`)"
      service: pulse-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca
      middlewares:
        - pulse-headers
        - authentik

    pulse-router-auth:
      rule: "Host(`pulse.home.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      entryPoints: [websecure]
      service: authentik-service
      tls: true

    splunk-router:
      rule: "Host(`splunk.home.com`)"
      service: splunk-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    grafana-router:
      rule: "Host(`grafana.home.com`)"
      service: grafana-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    waf-router:
      rule: "Host(`waf.home.com`)"
      service: waf-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    vas-router:
      rule: "Host(`vas.home.com`)"
      service: vas-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    wud-router:
      rule: "Host(`wud.home.com`)"
      service: wud-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    qbt-router:
      rule: "Host(`qbt.home.com`)"
      service: qbt-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    n8n-router:
      rule: "Host(`n8n.home.com`)"
      service: n8n-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    checkmk-router:
      rule: "Host(`checkmk.home.com`)"
      service: checkmk-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca
      middlewares:
        - authentik

    dashbd-router:
      rule: "Host(`dashbd.home.com`)"
      service: dashbd-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca
      middlewares:
        - authentik

    cortex-router:
      rule: "Host(`cortex.home.com`)"
      service: cortex-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca
    
    shuffle-router:
      rule: "Host(`shuffle.home.com`)"
      service: shuffle-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    wazuh-router:
      rule: "Host(`wazuh.home.com`)"
      service: wazuh-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

    prom-router:
      rule: "Host(`prom.home.com`)"
      service: prom-service
      entryPoints: [websecure]
      tls:
        certResolver: stepca

  services:
    vault-service:
      loadBalancer:
        serversTransport: vault-tls
        servers:
          - url: "https://192.168.1.4:443"

    portainer-service:
      loadBalancer:
        serversTransport: portainer-tls
        servers:
          - url: "https://192.168.1.126:9443"
        passHostHeader: true
        healthCheck:
          path: "/"
          interval: "30s"

    plex-service:
      loadBalancer:
        servers:
          - url: "https://192.168.1.136:32400"

    # jellyfin-service:
    #   loadBalancer:
    #     servers:
    #       - url: "https://192.168.200.244:8096"

    pihole-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.250"

    piholebk-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.126"

    uptimek-service:
      loadBalancer:
        serversTransport: uptimek-transport 
        servers:
          - url: "http://192.168.1.181:3001"

    pulse-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.126:7655"
    #     passHostHeader: true

    splunk-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.109:8000"

    #authentik-service:
    #  loadBalancer:
    #    serversTransport: authentik-tls
    #    servers:
    #      - url: "https://192.168.1.166:9443"

    authentik-service:
     loadBalancer:
       servers:
         - url: http://authentik_proxy:9000/outpost.goauthentik.io

    grafana-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.246:3000"

    waf-service:
      loadBalancer:
        serversTransport: waf-transport
        servers:
          - url: "https://192.168.1.89:9443"

    vas-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.166:9392"

    wud-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.126:3000"

    n8n-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.166:5678"

    qbt-service:
      loadBalancer:
        servers:
          - url: "http://192.168.100.15:9866"

    checkmk-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.126:5000"

    dashbd-service:
      loadBalancer:
        servers:
          - url: "http://192.168.200.7:7990"

    cortex-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.89:9002"

    shuffle-service:
      loadBalancer:
        serversTransport: shuffle-transport
        servers:
          - url: "https://192.168.1.89:3001"

    wazuh-service:
      loadBalancer:
        serversTransport: wazuh-transport
        servers:
          - url: "https://192.168.1.219"

    prom-service:
      loadBalancer:
        servers:
          - url: "http://192.168.1.126:9090"

  middlewares:
    dashboard-auth:
      basicAuth:
        users:
          - "admin:$$apr1$$r4U7vCvc$$dbZMEYMYtLPNPVaNYVZ1S0"

    pihole-strip:
      stripPrefix:
        prefixes:
          - /admin
    pihole-rewrite:
      replacePathRegex:
        regex: "^/$"
        replacement: "/admin"

    pulse-headers:
      headers:
        customRequestHeaders:
          Connection: "Upgrade"
          Upgrade: "websocket"


    authentik:
      forwardAuth:
        address: "http://authentik_proxy:9000/outpost.goauthentik.io/auth/traefik"
        trustForwardHeader: true
        authResponseHeadersRegex: "^X-Authentik-"
        authResponseHeaders:
          - X-Authentik-Username
          - X-Authentik-Groups
          - X-Authentik-Entitlements
          - X-Authentik-Email
          - X-Authentik-Name
          - X-Authentik-Uid
          - X-Authentik-Jwt
          - X-Authentik-Meta-Jwks
          - X-Authentik-Meta-Outpost
          - X-Authentik-Meta-Provider
          - X-Authentik-Meta-App
          - X-Authentik-Meta-Version

    pihole-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Port: "443"

    secure-headers:
      headers:
        sslRedirect: false
        stsSeconds: 31536000
        browserXssFilter: true
        contentTypeNosniff: true

    #crowdsec-bouncer:
      #plugin:
        #crowdsec-bouncer-traefik-plugin:
          #CrowdsecLapiUrl: http://192.168.1.33:8080
          #CrowdsecLapiKey: "sbP/Z65SG3cgEA4e0H7rNZ8IGdrjhRLHvVKxgBKxNVQ"
   # safeline:
    #  plugin:
    #    traefik-safeline:
    #        addr: 192.168.1.89:8000

  serversTransports:

    vault-tls:
      serverName: vault.home.com
      insecureSkipVerify: true
      rootCAs:
        - /certs/root_ca.crt
    
    portainer-tls:
      serverName: portainer.home.com
      insecureSkipVerify: true
      rootCAs:
        - /certs/root_ca.crt
  
    uptimek-transport:
      forwardingTimeouts: 
        idleTimeout: 0s   # Keeps WebSockets alive
      insecureSkipVerify: true

    shuffle-transport:
      serverName: shuffle.home.com
      insecureSkipVerify: true
      rootCAs:
        - /certs/root_ca.crt
    
    waf-transport:
      serverName: waf.home.com
      insecureSkipVerify: true
      rootCAs:
        - /certs/root_ca.crt

    wazuh-transport:
      serverName: wazuh.home.com
      insecureSkipVerify: true
      rootCAs:
        - /certs/root_ca.crt
